.home-section {
    text-align: center;
}

.navbar-option {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: darkcyan;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px ;
}
.image {
    height:560px;
    weight:310px;
    margin: 0 auto;
    display: block;
}
.big-text{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 27px 190px 0 400px;
}
.text1 {
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin: 48px 300px 0 300px;
}
.text2 {
    display: inline-block;
    text-align: center;
    letter-spacing: 2px;
    margin: 58px 300px 0 300px;
}
.get-started-button {
    width: 195px;
    height: 54px;
    background: darkcyan;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin: 90px 420px 50px 620px;
    text-transform: uppercase;
}
.style-text{
    font-family: Montserrat;
    font-size: 16px;
    color:black;
}
.text3{
    text-align: right;
    margin:25px 300px 55px 300px;
    font-weight: bold;
}
